# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# IDE settings
.idea/
.vscode/

# Application logs
logs/
*.log

# Swap files
*.swp

# Configuration files
*.config
.env

# Distribution folders
dist/
build/
